<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gk.framework.mapper.system.SysLoginLogMapper">

    <select id="pageSysLoginLog" resultType="com.gk.framework.model.dto.system.sysLoginLog.SysLoginLogPageResp" databaseId="mysql">
        SELECT
        sll.username,
        sll.login_ip,
        sll.browser,
        sll.os,
        sll.result_msg,
        sll.status,
        sll.create_time
        FROM sys_login_log sll
        WHERE sll.enabled = '1'
        <if test="req.username != null and req.username != ''">
            AND sll.username LIKE CONCAT(#{req.username},'%')
        </if>
        <if test="req.status != null and req.status != ''">
            AND sll.status = #{req.status}
        </if>
        <if test="req.startTime != null and req.endTime != null">
            AND sll.create_time BETWEEN #{req.startTime} AND #{req.endTime}
        </if>
        <if test="req.dataScopeSql != null and req.dataScopeSql != ''">
            ${req.dataScopeSql}
        </if>
        ORDER BY sll.id DESC
    </select>

    <select id="pageSysLoginLog" resultType="com.gk.framework.model.dto.system.sysLoginLog.SysLoginLogPageResp" databaseId="oracle">
        SELECT
        sll.username,
        sll.login_ip,
        sll.browser,
        sll.os,
        sll.result_msg,
        sll.status,
        sll.create_time
        FROM sys_login_log sll
        WHERE sll.enabled = '1'
        <if test="req.username != null and req.username != ''">
            AND sll.username LIKE CONCAT(#{req.username},'%')
        </if>
        <if test="req.status != null and req.status != ''">
            AND sll.status = #{req.status}
        </if>
        <if test="req.startTime != null and req.endTime != null">
            AND sll.create_time BETWEEN TO_DATE(#{req.startTime}, 'yyyy-mm-dd hh24:mi:ss') AND TO_DATE(#{req.endTime}, 'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="req.dataScopeSql != null and req.dataScopeSql != ''">
            ${req.dataScopeSql}
        </if>
        ORDER BY sll.id DESC
    </select>
</mapper>
