#parse("templates/other/propertyExample.java.vm")
#if(${field.type.toLowerCase().contains("varchar")})
    #set($FieldLength = ${field.metaInfo.length})
    @ApiModelProperty(value = "${field.comment}[$FieldLength]", required = true, example = "${fieldDefValueMap.get(${field.propertyName})}")
#else
    @ApiModelProperty(value = "${field.comment}", required = true, example = "${Example}")
#end
#if(${field.propertyType.equals("Date")})
    @JsonFormat(pattern = DateConstant.DEFAULT_PATTERN)
#end
#parse("templates/other/validate.java.vm")
#parse("templates/other/propertyType.java.vm")
