<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gk.server.mapper.demo.ServerDemoMapper">
                
    <sql id="pageServerDemoSql">
        FROM server_demo t
        WHERE t.enabled = '1'
        ORDER BY t.id DESC
    </sql>

    <select id="pageServerDemo" resultType="com.gk.server.model.dto.demo.serverDemo.ServerDemoPageResp">
        SELECT t.id,t.demo_name,t.demo_code,t.demo_time,t.data_status,t.remark
        <include refid="pageServerDemoSql">
            <property name="req" value="${req}"/>
        </include>
    </select>

    <select id="exportServerDemo" resultType="com.gk.server.model.dto.demo.serverDemo.ServerDemoExportResp">
        SELECT t.demo_name,t.demo_code,t.demo_time,t.data_status,t.remark
        <include refid="pageServerDemoSql">
            <property name="req" value="${req}"/>
        </include>
        <include refid="com.gk.framework.mapper.CommonSqlMapper.exportLimit"/>
    </select>

</mapper>
